<!-- sectiontintucxedaily -->
<section class="section-tin-tuc-xe-daily index-section">
    <div class="container">
        <div class="title_home new-deal">
            <a href="#">
                <span class="title_home_text">TIN TỨC XE DAILY</span>
            </a>
        </div>
        <div class="row wrap-news">
            <div class="col-md-4 blog-col">
                <div class="card news first-news">
                    <a target="_blank" title="{{firstNews.tieu_de}}"
                        href="https://dailyxe.com.vn/tin-tuc/rolls-royce-cullinan-gia-hon-40-ty-o-viet-nam-bi-trieu-hoi-viden-hau-qua-toi-8474d.html">
                    </a>
                    <a class="news-right-img" target="_self" title="{{firstNews.tieu_de}}"
                        href="https://dailyxe.com.vn/tin-tuc/rolls-royce-cullinan-gia-hon-40-ty-o-viet-nam-bi-trieu-hoi-viden-hau-qua-toi-8474d.html">
                        <img class="card-img-top lazy-loading-image loaded" style="width:100%"
                            src="/upload/{{firstNews.hinh_bao}}" alt="{{firstNews.tieu_de}}" data-pin-nopin="true">
                    </a>
                    <div class="card-block has-menu-dots">
                        <h1 class="news-title"><a target="_self" title="{{firstNews.tieu_de}}"
                                href="https://dailyxe.com.vn/tin-tuc/rolls-royce-cullinan-gia-hon-40-ty-o-viet-nam-bi-trieu-hoi-viden-hau-qua-toi-8474d.html">{{firstNews.tieu_de}}</a>
                        </h1>
                        <p class="news-posted">
                            <span class="origin"><a title="{{firstNews.nguon_dang}}"
                                    href="https://dailyxe.com.vn/dai-ly-xe-14w.html">{{firstNews.nguon_dang}}</a></span>
                            <span><i class="fa fa-calendar-o"></i>{{firstNews.ngay_dang}}</span>
                        </p>
                        <h4 class="news-desc">{{firstNews.noi_dung_ngan}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 blog-col">
                <div class="card news first-news">
                    <a target="_blank" title="{{secondNews.tieu_de}}"
                        href="https://dailyxe.com.vn/tin-tuc/rolls-royce-cullinan-gia-hon-40-ty-o-viet-nam-bi-trieu-hoi-viden-hau-qua-toi-8474d.html">
                    </a>
                    <a class="news-right-img" target="_self" title="{{secondNews.tieu_de}}"
                        href="https://dailyxe.com.vn/tin-tuc/rolls-royce-cullinan-gia-hon-40-ty-o-viet-nam-bi-trieu-hoi-viden-hau-qua-toi-8474d.html">
                        <img class="card-img-top lazy-loading-image loaded" style="width:100%"
                            src="/upload/{{secondNews.hinh_bao}}" alt="{{secondNews.tieu_de}}" data-pin-nopin="true">
                    </a>
                    <div class="card-block has-menu-dots">
                        <h1 class="news-title"><a target="_self" title="{{secondNews.tieu_de}}"
                                href="https://dailyxe.com.vn/tin-tuc/rolls-royce-cullinan-gia-hon-40-ty-o-viet-nam-bi-trieu-hoi-viden-hau-qua-toi-8474d.html">{{secondNews.tieu_de}}</a>
                        </h1>
                        <p class="news-posted">
                            <span class="origin"><a title="DailyXe"
                                    href="https://dailyxe.com.vn/dai-ly-xe-14w.html">{{secondNews.nguon_dang}}</a></span>
                            <span><i class="fa fa-calendar-o"></i>{{secondNews.ngay_dang}}</span>
                        </p>
                        <h4 class="news-desc">{{secondNews.noi_dung_ngan}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-top-right">

                {{#each allNews}}
                <div class="news-right">
                    <div class="media">
                        <a class="news-right-img" target="_self"
                            title="{{this.tieu_de}}"
                            href="https://dailyxe.com.vn/tin-tuc/trien-lam-oto-frankfurt-motor-show-bi-lo-chet-yeu-neu-khong-doi-moi-8473d.html">
                            <img class="lazy-loading-image loaded" style="width:100%"
                                src="https://cdn.dailyxe.com.vn/image/trien-lam-oto-frankfurt-motor-show-bi-lo-chet-yeu-neu-khong-doi-moi-81786j1.jpg"
                                alt="{{this.tieu_de}}"
                                data-pin-nopin="true">

                        </a>
                        <div class="media-body has-menu-dots">
                            <h3 class="news-right-title"><a target="_self"
                                    title="{{this.tieu_de}}"
                                    href="https://dailyxe.com.vn/tin-tuc/trien-lam-oto-frankfurt-motor-show-bi-lo-chet-yeu-neu-khong-doi-moi-8473d.html">{{this.tieu_de}}</a></h3>
                            <h5 class="news-posted">
                                <span class="origin"><a title="Zing.vn"
                                        href="https://dailyxe.com.vn/zing.vn-tin-tuc-hinh-anh-moi-nhat-ve-cac-loai-xe-oto-9w.html">{{this.nguon_dang}}</a></span>
                                <span><i class="fa fa-calendar-o"></i>{{this.ngay_dang}}</span>
                            </h5>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>

        </div>
        <p> <a class="view-more" href="#"><span>Xem thêm...</span></a> </p>
    </div>
</section>
<!-- endsectiontintucxedaily -->
<section class="section-video-xe-daily index-section">
    <div class="container">
        <div class="title_home new-deal">
            <a href="#">
                <span class="title_home_text">VIDEO XE DAILY</span>
            </a>
        </div>
        <div class="row text-center padding">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="video-item">
                    <div class="img-video">
                        <a class="open-popup video-btn" role="button" class="btn" data-toggle="modal"
                            data-src="https://www.youtube.com/embed/NNs8Kbvpt5o" data-target="#myModal">
                            <p class="video-button"></p><img class="lazy"
                                src="https://www.toyota.com.vn/data/news/3571/_1/lzot5d.PNG"
                                data-original="https://www.toyota.com.vn/data/news/3571/_1/lzot5d.PNG" height="168"
                                alt="" style="display: inline;">
                        </a>
                        <!-- modalvideo -->
                        <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="" id="video"
                                                allowscriptaccess="always" allow="autoplay"></iframe>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="video-item">
                    <div class="img-video">
                        <a class="open-popup" data-href="#popup_pc_gallery_1" data-index="0"
                            onclick="getLinktech(3571)">
                            <p class="video-button"></p><img class="lazy"
                                src="https://www.toyota.com.vn/data/news/3571/_1/lzot5d.PNG"
                                data-original="https://www.toyota.com.vn/data/news/3571/_1/lzot5d.PNG" height="168"
                                alt="" style="display: inline;">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="video-item">
                    <div class="img-video">
                        <a class="open-popup" data-href="#popup_pc_gallery_1" data-index="0"
                            onclick="getLinktech(3571)">
                            <p class="video-button"></p><img class="lazy"
                                src="https://www.toyota.com.vn/data/news/3571/_1/lzot5d.PNG"
                                data-original="https://www.toyota.com.vn/data/news/3571/_1/lzot5d.PNG" height="168"
                                alt="" style="display: inline;">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="video-item">
                    <div class="img-video">
                        <a class="open-popup" data-href="#popup_pc_gallery_1" data-index="0"
                            onclick="getLinktech(3571)">
                            <p class="video-button"></p><img class="lazy"
                                src="https://www.toyota.com.vn/data/news/3571/_1/lzot5d.PNG"
                                data-original="https://www.toyota.com.vn/data/news/3571/_1/lzot5d.PNG" height="168"
                                alt="" style="display: inline;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <p> <a class="view-more" href="#"><span>Xem thêm...</span></a> </p>
    </div>
</section>
<!-- sectionuudaigia -->
<section class="section-uu-dai-gia index-section">
    <div class="container">
        <div class="title_home new-deal">
            <a href="#">
                <span class="title_home_text">ƯU ĐÃI</span>
            </a>
        </div>
        <div class="owl-carousel owl-theme" id="product-uytin">
            <div class="item">
                <div class="product">
                    <a href="#" class="card-content">
                        <div class="card-img card-img-top order-now"><img
                                src="https://cdn.dailyxe.com.vn/image/chevrolet-trailblazer-25l-4x2-at-lt-44537j3.jpg"
                                class="card-img">
                            <p class="pcd-pricing">
                                <span class="pcd-price"><b>Giá bán lẻ:</b> 990 triệu </span><span class="price-sale">
                                    423 triệu </span>
                            </p>
                        </div>
                        <div class="product-body">
                            <div class="product-name">VinFast Fadil Hatchback 1.4L AT Phiên Bản Tiêu Chuẩn (Máy
                                xăng)
                            </div>
                            <div class="product-address">23A Ngô Thời Nhiệm, P. 6, Quận 3, TP. HCM</div>
                            <div class="product-info">
                                <div class="d-flex flex-wrap label">
                                    <span class="sale">Ưu đãi 403.4 triệu</span>
                                    <span>Tháng 9</span>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="item">
                <div class="product">
                    <a href="#" class="card-content">
                        <div class="card-img card-img-top order-now"><img
                                src="https://cdn.dailyxe.com.vn/image/chevrolet-trailblazer-25l-4x2-at-lt-44537j3.jpg"
                                class="card-img">
                            <p class="pcd-pricing">
                                <span class="pcd-price"><b>Giá bán lẻ:</b> 990 triệu </span><span class="price-sale">
                                    423 triệu </span>
                            </p>
                        </div>
                        <div class="product-body">
                            <div class="product-name">VinFast Fadil Hatchback 1.4L AT Phiên Bản Tiêu Chuẩn (Máy
                                xăng)
                            </div>
                            <div class="product-address">23A Ngô Thời Nhiệm, P. 6, Quận 3, TP. HCM</div>
                            <div class="product-info">
                                <div class="d-flex flex-wrap label">
                                    <span class="sale">Ưu đãi 403.4 triệu</span>
                                    <span>Tháng 9</span>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="item">
                <div class="product">
                    <a href="#" class="card-content" title="Amun Garden Restaurant &amp; Lounge">
                        <div class="card-img card-img-top order-now"><img
                                src="https://cdn.dailyxe.com.vn/image/chevrolet-trailblazer-25l-4x2-at-lt-44537j3.jpg"
                                alt="Amun Garden Restaurant &amp; Lounge" class="card-img">
                            <p class="pcd-pricing">
                                <span class="pcd-price"><b>Giá bán lẻ:</b> 990 triệu </span><span class="price-sale">
                                    423 triệu </span>
                            </p>
                        </div>
                        <div class="product-body">
                            <div class="product-name">VinFast Fadil Hatchback 1.4L AT Phiên Bản Tiêu Chuẩn (Máy
                                xăng)
                            </div>
                            <div class="product-address">23A Ngô Thời Nhiệm, P. 6, Quận 3, TP. HCM</div>
                            <div class="product-info">
                                <div class="d-flex flex-wrap label">
                                    <span class="sale">Ưu đãi 403.4 triệu</span>
                                    <span>Tháng 9</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="product">
                    <a href="#" class="card-content" title="Amun Garden Restaurant &amp; Lounge">
                        <div class="card-img card-img-top order-now"><img
                                src="https://cdn.dailyxe.com.vn/image/chevrolet-trailblazer-25l-4x2-at-lt-44537j3.jpg"
                                alt="Amun Garden Restaurant &amp; Lounge" class="card-img">
                            <p class="pcd-pricing">
                                <span class="pcd-price"><b>Giá bán lẻ:</b> 990 triệu </span><span class="price-sale">
                                    423 triệu </span>
                            </p>
                        </div>
                        <div class="product-body">
                            <div class="product-name">VinFast Fadil Hatchback 1.4L AT Phiên Bản Tiêu Chuẩn (Máy
                                xăng)
                            </div>
                            <div class="product-address">23A Ngô Thời Nhiệm, P. 6, Quận 3, TP. HCM</div>
                            <div class="product-info">
                                <div class="d-flex flex-wrap label">
                                    <span class="sale">Ưu đãi 403.4 triệu</span>
                                    <span>Tháng 9</span>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="item">
                <div class="product">
                    <a href="#" class="card-content" title="Amun Garden Restaurant &amp; Lounge">
                        <div class="card-img card-img-top order-now"><img
                                src="https://cdn.dailyxe.com.vn/image/chevrolet-trailblazer-25l-4x2-at-lt-44537j3.jpg"
                                alt="Amun Garden Restaurant &amp; Lounge" class="card-img">
                            <p class="pcd-pricing">
                                <span class="pcd-price"><b>Giá bán lẻ:</b> 990 triệu </span><span class="price-sale">
                                    423 triệu </span>
                            </p>
                        </div>
                        <div class="product-body">
                            <div class="product-name">VinFast Fadil Hatchback 1.4L AT Phiên Bản Tiêu Chuẩn (Máy
                                xăng)
                            </div>
                            <div class="product-address">23A Ngô Thời Nhiệm, P. 6, Quận 3, TP. HCM</div>
                            <div class="product-info">
                                <div class="d-flex flex-wrap label">
                                    <span class="sale">Ưu đãi 403.4 triệu</span>
                                    <span>Tháng 9</span>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="item">
                <div class="product">
                    <a href="#" class="card-content" title="Amun Garden Restaurant &amp; Lounge">
                        <div class="card-img card-img-top order-now"><img
                                src="https://cdn.dailyxe.com.vn/image/chevrolet-trailblazer-25l-4x2-at-lt-44537j3.jpg"
                                alt="Amun Garden Restaurant &amp; Lounge" class="card-img">
                            <p class="pcd-pricing">
                                <span class="pcd-price"><b>Giá bán lẻ:</b> 990 triệu </span><span class="price-sale">
                                    423 triệu </span>
                            </p>
                        </div>
                        <div class="product-body">
                            <div class="product-name">VinFast Fadil Hatchback 1.4L AT Phiên Bản Tiêu Chuẩn (Máy
                                xăng)
                            </div>
                            <div class="product-address">23A Ngô Thời Nhiệm, P. 6, Quận 3, TP. HCM</div>
                            <div class="product-info">
                                <div class="d-flex flex-wrap label">
                                    <span class="sale">Ưu đãi 403.4 triệu</span>
                                    <span>Tháng 9</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <p> <a class="view-more" href="#"><span>Xem thêm...</span></a> </p>
    </div>
</section>
<!-- endsectionuudaigia -->
<!-- sectiondailynoibat -->
<section class="section-dai-ly-noi-bat index-section">
    <div class="container">
        <div class="title_home new-deal">
            <a href="#">
                <span class="title_home_text">ĐẠI LÝ NỔI BẬT</span>
            </a>
        </div>
        <div>
            <div class="row text-center padding">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="product">
                        <div class="card-img card-img-top order-now">
                            <img src="https://cdn.dailyxe.com.vn/image/chevrolet-trailblazer-25l-4x2-at-lt-44537j3.jpg"
                                alt="Amun Garden Restaurant &amp; Lounge" class="card-img">
                            <div class="all-ribbon">
                                <div class="ribbon-product">
                                    <span><img src="https://cdn.dailyxe.com.vn/image/ford-viet-nam-33523j1.jpg" alt=""
                                            class="ribbon-logo"></span>
                                </div>
                                <div class="ribbon-end">
                                    <!--day la shape khong co content-->
                                </div>
                            </div>
                        </div>
                        <div class="showroom-body">
                            <h3 class="showroom-name"><a
                                    href="https://dailyxe.com.vn/showroom/dai-ly-bmw-quan-2-tphcm-542h.html"
                                    title="BMW Mini Sala Quận 2">BMW Mini Sala
                                    Quận 2</a>
                            </h3>
                            <div class="showroom-province">TP.HCM</div>
                            <div class="showroom-address"><i class="fa fa-map-marker" aria-hidden="true"></i> 23A
                                Ngô Thời Nhiệm, P. 6, Quận 3, TP. HCM</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="product">
                        <div class="card-img card-img-top order-now">
                            <img src="https://cdn.dailyxe.com.vn/image/chevrolet-trailblazer-25l-4x2-at-lt-44537j3.jpg"
                                class="card-img">
                            <div class="all-ribbon">
                                <div class="ribbon-product">
                                    <span><img src="https://cdn.dailyxe.com.vn/image/ford-viet-nam-33523j1.jpg" alt=""
                                            class="ribbon-logo"></span>
                                </div>
                                <div class="ribbon-end">
                                    <!--day la shape khong co content-->
                                </div>
                            </div>
                        </div>
                        <div class="showroom-body">
                            <h3 class="showroom-name"><a
                                    href="https://dailyxe.com.vn/showroom/dai-ly-bmw-quan-2-tphcm-542h.html"
                                    title="BMW Mini Sala Quận 2">BMW Mini Sala
                                    Quận 2</a>
                            </h3>
                            <div class="showroom-province">TP.HCM</div>
                            <div class="showroom-address"><i class="fa fa-map-marker" aria-hidden="true"></i> 23A
                                Ngô Thời Nhiệm, P. 6, Quận 3, TP. HCM</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="product">
                        <div class="card-img card-img-top order-now">
                            <img src="https://cdn.dailyxe.com.vn/image/chevrolet-trailblazer-25l-4x2-at-lt-44537j3.jpg"
                                class="card-img">
                            <div class="all-ribbon">
                                <div class="ribbon-product">
                                    <span><img src="https://cdn.dailyxe.com.vn/image/ford-viet-nam-33523j1.jpg" alt=""
                                            class="ribbon-logo"></span>
                                </div>
                                <div class="ribbon-end">
                                    <!--day la shape khong co content-->
                                </div>
                            </div>
                        </div>
                        <div class="showroom-body">
                            <h3 class="showroom-name"><a
                                    href="https://dailyxe.com.vn/showroom/dai-ly-bmw-quan-2-tphcm-542h.html"
                                    title="BMW Mini Sala Quận 2">BMW Mini Sala
                                    Quận 2</a>
                            </h3>
                            <div class="showroom-province">TP.HCM</div>
                            <div class="showroom-address"><i class="fa fa-map-marker" aria-hidden="true"></i> 23A
                                Ngô Thời Nhiệm, P. 6, Quận 3, TP. HCM</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="product">
                        <div class="card-img card-img-top order-now">
                            <img src="https://cdn.dailyxe.com.vn/image/chevrolet-trailblazer-25l-4x2-at-lt-44537j3.jpg"
                                class="card-img">
                            <div class="all-ribbon">
                                <div class="ribbon-product">
                                    <span><img src="https://cdn.dailyxe.com.vn/image/ford-viet-nam-33523j1.jpg" alt=""
                                            class="ribbon-logo"></span>
                                </div>
                                <div class="ribbon-end">
                                    <!--day la shape khong co content-->
                                </div>
                            </div>
                        </div>
                        <div class="showroom-body">
                            <h3 class="showroom-name"><a
                                    href="https://dailyxe.com.vn/showroom/dai-ly-bmw-quan-2-tphcm-542h.html"
                                    title="BMW Mini Sala Quận 2">BMW Mini Sala
                                    Quận 2</a>
                            </h3>
                            <div class="showroom-province">TP.HCM</div>
                            <div class="showroom-address"><i class="fa fa-map-marker" aria-hidden="true"></i> 23A
                                Ngô Thời Nhiệm, P. 6, Quận 3, TP. HCM</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- endsectiondaily -->
<!-- sectionquantamnhieunhat -->
<section class="section-quan-tam-nhieu-nhat index-section">
    <div class="container">
        <div class="title_home new-deal">
            <a href="#">
                <span class="title_home_text">QUAN TÂM NHIỀU NHẤT</span>
            </a>
        </div>
        <div>
            <div class="row text-center padding">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="product">
                        <div class="card-img card-img-top order-now"><img
                                src="https://cdn.dailyxe.com.vn/image/chevrolet-trailblazer-25l-4x2-at-lt-44537j3.jpg"
                                class="card-img" />
                        </div>
                        <div class="car-brand-title">
                            <div class="car-brand car-brand-item">
                                <img src="https://giaxetot.vn/uploads/logo-mercedes.png" alt="" />
                                <div class="brand-name">MERCEDES-BENZ</div>
                            </div>
                            <div class="brand-menu car-brand-item">
                                <ul>
                                    <li><a href="https://giaxetot.vn/gia-xe-mercedes-benz">Giá xe Mercedes-Benz</a>
                                    </li>
                                    <li><a href="https://giaxetot.vn/mua-tra-gop-xe-oto-mercedes-benz">Trả góp
                                            Mercedes-Benz</a></li>
                                    <li><a
                                            href="https://giaxetot.vn/chi-tiet-chinh-xac-thong-so-ky-thuat-hang-mercedes-benz">Thông
                                            số Mercedes-Benz</a></li>
                                    <li><a
                                            href="https://giaxetot.vn/dai-ly-ban-o-to-mercedes-benz-chinh-hang-tai-viet-nam">Đại
                                            lý xe Mercedes-Benz</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="product">
                        <div class="card-img card-img-top order-now"><img
                                src="https://cdn.dailyxe.com.vn/image/chevrolet-trailblazer-25l-4x2-at-lt-44537j3.jpg"
                                class="card-img" />
                        </div>
                        <div class="car-brand-title">
                            <div class="car-brand car-brand-item">
                                <img src="https://giaxetot.vn/uploads/logo-mercedes.png" alt="" />
                                <div class="brand-name">MERCEDES-BENZ</div>
                            </div>
                            <div class="brand-menu car-brand-item">
                                <ul>
                                    <li><a href="https://giaxetot.vn/gia-xe-mercedes-benz">Giá xe Mercedes-Benz</a>
                                    </li>
                                    <li><a href="https://giaxetot.vn/mua-tra-gop-xe-oto-mercedes-benz">Trả góp
                                            Mercedes-Benz</a></li>
                                    <li><a
                                            href="https://giaxetot.vn/chi-tiet-chinh-xac-thong-so-ky-thuat-hang-mercedes-benz">Thông
                                            số Mercedes-Benz</a></li>
                                    <li><a
                                            href="https://giaxetot.vn/dai-ly-ban-o-to-mercedes-benz-chinh-hang-tai-viet-nam">Đại
                                            lý xe Mercedes-Benz</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="product">
                        <div class="card-img card-img-top order-now"><img
                                src="https://cdn.dailyxe.com.vn/image/chevrolet-trailblazer-25l-4x2-at-lt-44537j3.jpg"
                                class="card-img" />
                        </div>
                        <div class="car-brand-title">
                            <div class="car-brand car-brand-item">
                                <img src="https://giaxetot.vn/uploads/logo-mercedes.png" alt="" />
                                <div class="brand-name">MERCEDES-BENZ</div>
                            </div>
                            <div class="brand-menu car-brand-item">
                                <ul>
                                    <li><a href="https://giaxetot.vn/gia-xe-mercedes-benz">Giá xe Mercedes-Benz</a>
                                    </li>
                                    <li><a href="https://giaxetot.vn/mua-tra-gop-xe-oto-mercedes-benz">Trả góp
                                            Mercedes-Benz</a></li>
                                    <li><a
                                            href="https://giaxetot.vn/chi-tiet-chinh-xac-thong-so-ky-thuat-hang-mercedes-benz">Thông
                                            số Mercedes-Benz</a></li>
                                    <li><a
                                            href="https://giaxetot.vn/dai-ly-ban-o-to-mercedes-benz-chinh-hang-tai-viet-nam">Đại
                                            lý xe Mercedes-Benz</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- endsectionquantamnhieunhat -->