{{!-- sectionnoidungtrangdetail --}}
<section class="section-detail-truyen index-section">
    <div class="container">
        <div>
            <div class="row text-center padding">
                <div class="col-md-8 darkDetail">
                      <div>
            <ul class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a
                        href="http://www.nettruyen.com" class="itemcrumb" itemprop="item"
                        itemtype="http://schema.org/Thing"><span itemprop="name">Trang chủ</span></a>
                    <meta itemprop="position" content="1">
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a
                        href="http://www.nettruyen.com/tim-truyen" class="itemcrumb" itemprop="item"
                        itemtype="http://schema.org/Thing"><span itemprop="name">Thể loại</span></a>
                    <meta itemprop="position" content="2">
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a
                        href="http://www.nettruyen.com/truyen-tranh/bat-hu-pham-nhan" class="itemcrumb active"
                        itemprop="item" itemtype="http://schema.org/Thing"><span itemprop="name">{{noiDung.ten_truyen}}</span></a>
                    <meta itemprop="position" content="3">
                </li>
            </ul>
        </div>
                    <div class="row">
                        <div class="col-md-4 col-image"><img src="{{noiDung.hinh_truyen}}" alt="" class="src"></div>
                        <div class="col-md-8 col-info">
                            <div class="truyen-title">
                                <h3 class="title">{{noiDung.ten_truyen}}</h3>
                            </div>
                            <ul class="info-list ">
                                <li class="t-author row">
                                    <p class="name col-md-4"><i class="fas fa-user"></i>Tác giả</p>
                                    <p class="name col-md-8"><a
                                            href="http://www.nettruyen.com/tim-truyen?tac-gia=Ta+L%c3%a0+L%c3%a3o+Ng%c5%a9">{{noiDung.tac_gia}}</a>
                                    </p>
                                </li>
                                <li class="t-status row">
                                    <p class="name col-md-4"><i class="far fa-bell"></i>Tình trạng</p>
                                    <p class="name col-md-8">Đang tiến hành</p>
                                </li>
                                <li class="t-category row">
                                    <p class="name col-md-4"><i class="fas fa-tags"></i>Thể loại</p>
                                    <p class="name col-md-8"><a
                                            href="http://www.nettruyen.com/tim-truyen/manhua">Manhua</a>,<a
                                            href="http://www.nettruyen.com/tim-truyen/mystery">Mystery</a>,<a
                                            href="http://www.nettruyen.com/tim-truyen/truyen-mau">Truyện Màu</a>,
                                        <a href="http://www.nettruyen.com/tim-truyen/xuyen-khong">Xuyên Không</a></p>
                                </li>
                                <li class="t-views row">
                                    <p class="name col-md-4"><i class="fas fa-eye"></i>Lượt xem</p>
                                    <p class="name col-md-8">{{noiDung.luot_xem}}</p>
                                </li>
                            </ul>
                            <div class="follow pl-15">
                                <a class="follow-link btn btn-success" href="javascript:void(0)" data-id="17519"><i
                                        class="fa fa-heart"></i> <span>Theo dõi</span></a>
                                <span>
                                    <b>{{noiDung.luot_theo_doi}}</b> Người Đã Theo Dõi</span>
                            </div>
                            <div class="read-action mt-10 pl-15">
                                <a class="btn btn-warning mb-5"
                                    href="http://www.nettruyen.com/truyen-tranh/bat-hu-pham-nhan/chap-0/491774"> Đọc từ
                                    đầu</a>
                                <a class="btn btn-warning mb-5"
                                    href="http://www.nettruyen.com/truyen-tranh/bat-hu-pham-nhan/chap-4/512370"> Đọc mới
                                    nhất</a>
                            </div>
                        </div>
                    </div>
                    <div class="truyen-description">
                        <div class="title_home title-des">
                            <i class="fas fa-file-alt"></i>
                            <a href="#">
                                <span class="title_home_text">NỘI DUNG</span>
                            </a>
                        </div>
                        <div class="short-des">
                            {{noiDung.noi_dung}}
                        </div>
                    </div>
                    <div class="truyen-chapter">
                        <div class="title_home title-chapter">
                            <i class="fas fa-list"></i>
                            <a href="#">
                                <span class="title_home_text"> DANH SÁCH CHƯƠNG</span>
                            </a>
                        </div>
                        <div class="all-chapter">
                            <nav>
                                <ul>
                                    <li class="row heading">
                                        <div class="col-md-5 no-wrap">Số chương</div>
                                        <div class="col-md-4 no-wrap text-center">Cập nhật</div>
                                        <div class="col-md-3 no-wrap text-center">Lượt xem</div>
                                    </li>
                                    {{revArr noiDung.chap_moi_ra}}
                                    {{#each noiDung.chap_moi_ra }}
                                    <li class="row">
                                        <div class="col-md-5 chapter">
                                            <a href="http://www.nettruyen.com/truyen-tranh/bat-hu-pham-nhan/chap-4/512370"
                                                data-id="512370">Chapter {{this.ten_chuong}}</a>
                                        </div>
                                        <div class="col-md-4 text-center small needs_to_be_rendered"
                                            datetime="{{this.thoi_gian_tao}}"></div>
                                        <div class="col-md-3 text-center small needs_to_format">{{this.luot_xem}}</div>
                                    </li>
                                    {{/each}}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    {{> home-sidebar-history }}
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- endsectionnoidungtrangdetail --}}